:root{
    --colorTextos: white;
}

*,
::before,
::after {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'helvetica';
    background-image: url(/img/62beac121541597.60c83b9659bc3.jpg);
    background-repeat: round;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: 700;
    color: rgba(255, 252, 251, 0.904);
}

form {
    background: #0000009e;
    padding: 20px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
            border-radius: 10px;
    }

    .form {
        padding: 20px;
        width: 100%;
        margin:auto;
    }
select{
    margin-top: 15px;
    height: 30px;
    color: rgba(0, 0, 0);
    font-family: 'helvetica';
    width:100%;
    background: white;
}
form > .grupo {
        width: 80%;
        margin: 45px;
        background: linear-gradient(to left, #ff9068, #ff4b1f);
    }

    input {
        background-color:none;
        color: #c6c6c6;
        font-size: 18px;
        padding: 1px 5px;
        margin-top: 10px;
        width: 100%;
    }
input:focus{
    outline: none;
    color: #ff653a;
}
input::placeholder{
    outline: none;
    color: #50504f;
}
label{
    color: var(--colorTextos);
    font-size: 16px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
}
input:focus~label,
input:valid~label{
    font-size: 12px;
    color: #ffffff;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
        content: "";
        height: 2px;
        width: 100%;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to left, #ff906800, #ff4c1f00);
        transition: 0.3s ease width;
        left: 0;
}   
input:focus~.barra::before{
    width:100%;
}
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #b06ab3;
    padding-top: 20px;
}
/* boton */
button{
    font-family: 'helvetica';
    background: orangered;
    border:none;
    display: block;
    width: 100%;
    margin: 30px 0 0 0;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor:pointer;
}
@media screen and (max-width:600px){

    form{
        width:80%;
    }
}

